{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/all.min.js' %}"></script>
    <title>URL Shortner</title>
</head>

<body>

    <div class="ui raised very padded text container segment" id="shortern-container">
        <div class="text-container">
            <h2 class="ui header">
                <i class="fas fa-link"></i>
                <div class="content">
                    URL Shortner
                </div>
            </h2>

        </div>
        <form class="form-div" id="form">
            <div class="ui big form">
                <div class="field">
                    <input type="text" id="link">
                </div>
                <button class="fluid ui button  primary button">
                    Shorten
                </button>
            </div>
        </form>
        <div id="link-result">
            <p id="link-text"></p>
        </div>
    </div>
   
  
    <script src="{% static 'js/main.js' %}"></script>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>

</body>

</html>